.card {
    width: auto;
    margin: 0;
    min-height: 400px;
    max-height: 400px;
    padding: 20px;
}

.card .cardImgWrapper {
    height: 300px;
    width: auto;
    text-align: center;
}  

.card .cardImgWrapper::before {      
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
}
  
.card .cardImgWrapper .cardImgInner {
    display: inline-block;
    vertical-align: middle;
}

.card .cardImgWrapper .cardImgInner .cardImg {
    max-height: 250px;
}

.card .cardNameWrapper {
      bottom: 20px;
      width: 100%;
      display: block;
      text-align: center;
}

  