.card {
    width: auto;
    margin: 0;
    min-height: 350px;
    max-height: 350px;
    padding: 20px;
  
    .cardImgWrapper {
      height: 250px;
      width: auto;
      text-align: center;
  
      &:before {      
          content: ' ';
          display: inline-block;
          vertical-align: middle; 
          height: 100%;
      }
  
      .cardImgInner {
        display: inline-block;
        vertical-align: middle;
  
        .cardImg {
          max-width: 200px;
          min-width: 200px;
          height: auto;
        }
      }
    }
  
    .cardNameWrapper {
      bottom: 20px;
      width: 100%;
      display: block;
      text-align: center;

      .username {
        font-size: 20px;
        color: #111111;
        font-weight: bold;
      }

      .profileLink {
        text-decoration: none;
        font-size: 16px;
        color: #1b1a1a;
      }
    }
  }
  
  