.navbarBrand .navbarLogo {
    display: inline-flex;
    margin-right: 10px;
}

.navbarBrand .brandName {
    display: inline-flex;
    vertical-align: middle;
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: bold;
}